* {
    outline: none;
    margin: 0;
}

body {
    overflow: hidden;
}

#c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.color-btn-set{
    position : absolute;
    right : 3px;
    top : 3px;
    display : flex;
    width : 240px;
    justify-content: space-around;

}

.color-btn{
    width : 40px;
    height : 40px;
    border-radius: 40px;
    border : 2px solid white;

}

.color-btn-set>.green{
    background-color: #536639;
}
.color-btn-set>.red{
    background-color: #d9a0ae;
}
.color-btn-set>.blue{
    background-color: #7d9fcf;
}
.color-btn-set>.yellow{
    background-color: #bdb27d;
}
.color-btn-set>.gray{
    background-color: #b3b4af;
}
.check-btn{
    border-radius: 0px;
    width : 100px;
    height : 40px;
    display : flex;
    align-items: center;
    justify-content: center;
    border : 2px solid white;
    font-size: 1.2em;
    color : white;
}

.check-btn-set{
    position : absolute;
    right : 3px;
    top : 53px;
    display : flex;
    width : 240px;
    justify-content: flex-end;
    align-items: center;

}
.check-btn-set>label{
    color : white;
    font-size : 1em;
}
input {
    width : 20px;
    height : 20px;
}